*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: MainFont;
}

@font-face {
    font-family: MainFont;
    src: url(Rubik.ttf);
}

.lien :hover  {
    color: #141414c9;
    }

/* Contenu principal avec un espace supplémentaire */
main {
    padding-top: 100px; /* Ajuster l'espace en fonction de la taille de la nav */
}

body {
    margin: 0;
    background-color: #000000;
    color: black;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d3cec7;
    padding: 10px 20px;
}

main {
    display: flex;
    flex-direction: column; /* Alignement vertical des blocs */
    justify-content: flex-start; /* Aligne les blocs en haut */
    align-items: center; 
    height: auto; /* Ajuste la hauteur au contenu */
    background-color: #eeedeb;
    padding-bottom: 70px; /* Espace pour le footer */
}

.MainPic {
    width: 500px; /* réduit la largeur du logo à 100px */
    height: 200px; /* réduit la hauteur du logo à 50px */
    margin: 0 auto; /* centre le logo */
    margin-top: 5%;
    display: block; /* permet de centrer le logo */
    border-radius: 10px; /* ajout de la propriété border-radius */
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #0000002f;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Ajout pour une meilleure mise en page sur petits écrans */
}

.content {
    overflow: hidden;
    padding-bottom: 70px;
    max-width: 80vw;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
}

.content h2 {
    padding-bottom: 2%;
    font-size: 35px;
    line-height: 200%;
    color: #F4F4EA;
    margin-top: 50px;
    margin-inline: 5%;
    margin-bottom: 40px;
}

/* Style du bouton "Join the Movement" */
.content a {
    font-size: 23px;
    color: #fff;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 30px;
    border: 0;
    background: rgba(34, 34, 34, 0.295);
    position: relative;
    transition: all 0.3s ease;
    overflow: hidden;
    box-shadow: 0px 0px 0px 0px #C9DABF, 0px 0px 0px 0px #808D7C;
}

/* Animation d'ombre et translation lors du hover */
.content a:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0px #C9DABF, -10px 10px 25px 0px #5F6F65;
    background-color: rgba(34, 34, 34, 0.212);
}

.content a:hover::before, .content a:hover::after {
    transform: translateX(0) translateY(0);
}

.button-index {
    margin-bottom: 5%;
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50; /* Couleur de fond */
    color: white; /* Couleur du texte */
    text-align: center;
    text-decoration: none;
    border-radius: 5px; /* Coins arrondis */
    font-size: 16px; /* Taille du texte */
    transition: background-color 0.3s ease; /* Animation de transition */
}

.button-index:hover {
    background-color: #45a049; /* Couleur de fond quand on passe la souris */
}


.background-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio:16/9) {
    .background-clip {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .background-clip {
        width: auto;
        height: 100%;
    }
}

footer {
    background-color: #f4f4ea; /* couleur de fond du footer */
    padding: 20px; /* espace entre le contenu et le bord du footer */
    text-align: center; /* alignement du texte au centre */
    clear: both; /* pour s'assurer que le footer est placé en bas de la page */
}

footer p {
    margin-bottom: 10px; /* espace entre les éléments du footer */
}

footer a {
    color: #080808; /* couleur du lien */
    text-decoration: none; /* suppression de la décoration du lien */
}

footer a:hover {
    color: #23527c; /* couleur du lien au survol */
}

.active {
    text-decoration: underline;
    color: #867b68de; /* ou une couleur différente pour le lien actif */
}

.nav-header {
    transition: transform 0.3s ease; /* Animation pour la transition */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0); /* Rendre la barre de navigation visible */
    height: 70px; /* Ajuster la hauteur de la barre pour ordinateur */
}

.nav-header .header-link {
    margin-right: 25px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    background: rgba(34, 34, 34, 0);
    position: relative;
    transition: all 0.3s ease;
    overflow: hidden;
    box-shadow: 0px 0px 0px 0px #c9dabf67, 0px 0px 0px 0px #808d7c7c;
}

.nav-header .header-link:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0px #c9dabf6c, -10px 10px 25px 0px #5f6f6580;
    background-color: rgba(34, 34, 34, 0.212);
}

.icon {
    width: 70px; /* Taille ajustée */
    height: 70px;
    margin-top: 10px;
    margin-right: 100px;
    margin-left: 30px;
    animation: rotation 10s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.static-background {
    background-image: url('image/bg/cold-1866516.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.static-background2 {
    background-image: url('image/bg/cold-1866516.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.article-background {

    background-color: #3a3636;
}

.text-block {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    color: #fff;
}

.text-block h2 {
    margin-bottom: 10px;
    font-size: 2em;
}

.text-block p {
    font-size: 1.2em;
}

.mission {
    margin-top: 5%;
    align-self: flex-start;
    margin-left: 5%;
}

.about {
    margin-top: 5%;
    align-self: flex-end;
    margin-right: 5%;
}

.what-it-means {
    margin-top: 5%;
    align-self: flex-start;
    margin-left: 5%;
    margin-bottom: 5%;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li.article-block {
    margin-bottom: 90px;
}

.article-block {
    text-align: left;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin: 40px auto;
    border-radius: 10px;
    color: #fff;
    width: 80%; /* Largeur par défaut */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: MainFont;
}

.article-block h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #fff;
}

.article-block p {
    font-size: 1.2em;
    line-height: 1.5;
}

.article-block img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.content h1 {
    color: #ffffff;
}

/* Media Queries pour les tailles d'écran */
@media (max-width: 1600px) {
    .MainPic {
        width: 40%; /* Ajuster l'image pour les écrans entre 1200px et 1600px */
        height: auto;
    }

    .content h2 {
        font-size: 20px;
    }

    .content {
        margin-top: 5%;
        
    }
}

@media (max-width: 1200px) {
    .MainPic {
        width: 30%; /* Réduire davantage pour les écrans plus petits */
        height: auto;
    }

    .content h2 {
        font-size: 20px;
    }

    .content {
        margin-top: 5%;
    }
}

@media (max-width: 800px) {
    .MainPic {
        width: 30%; /* Encore plus petit pour mobile */
        height: auto;
    }

    .content h2 {
        font-size: 20px;
    }

    .content {
        margin-top: 5%;
    }
}

.menu-toggle {
    display: none;
    margin-right: 25px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    background: rgba(34, 34, 34, 0);
    position: relative;
    transition: all 0.3s ease;
    overflow: hidden;
    box-shadow: 0px 0px 0px 0px #c9dabf67, 0px 0px 0px 0px #808d7c7c;
}

/* Effet au survol */
.menu-toggle:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0px #c9dabf6c, -10px 10px 25px 0px #5f6f6580;
    background-color: rgba(34, 34, 34, 0.212);
}

/* Styles par défaut pour le menu */
.nav-links {
    display: flex; /* Affiche le menu par défaut sur les écrans larges */
}



/* Cacher le menu par défaut sur les écrans plus petits */
@media (max-width: 600px) {
    .article-block {
        width: 100%; /* Prendre toute la largeur de l'écran */
        margin: 0; /* Supprime les marges */
        padding: 10px; /* Ajoute un peu d'espace intérieur si nécessaire */
    }

    /* Autres styles pour mobile */
    .text-block {
        width: 100%; /* Prendre toute la largeur de l'écran */
        margin: 0; /* Enlever les marges */
        padding: 10px; /* Optionnel : ajouter un peu d'espace intérieur */
        margin-bottom: 5%;
    }

    #menu-toggle {
        display: block;
    }

    .MainPic {
        width: 250px;
        height: 100px;
    }

    .content h2 {
        font-size: 20px;
    }

    .content {
        margin-top: 10%;
    }

    .nav-links {
        display: none; /* Cache le menu par défaut sur mobile */
    }

    .nav-header.open .nav-links {
        display: flex; /* Affiche le menu quand la classe 'open' est activée sur mobile */
        flex-direction: column; /* Aligne les éléments du menu en colonne */
        width: 100%; /* Largeur pleine */
        background-color: #333333da; /* Couleur de fond du menu mobile */
        position: absolute; /* Positionné par rapport à la barre de navigation */
        top: 70px; /* Positionné juste en dessous de la barre de navigation */
        left: 0;
        z-index: 1000; /* Assure que le menu soit au-dessus des autres éléments */
    }

    .menu-toggle {
        display: block; /* Affiche le bouton de menu sur mobile */
    }

    /* Garder le bouton de menu visible même lorsque le menu est ouvert */
    .nav-header.open .menu-toggle {
        opacity: 0.7; /* Réduire l'opacité si vous souhaitez une indication que le menu est ouvert */
    }
}
 

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50; /* Couleur de fond */
    color: white; /* Couleur du texte */
    text-align: center;
    text-decoration: none;
    border-radius: 5px; /* Coins arrondis */
    font-size: 16px; /* Taille du texte */
    transition: background-color 0.3s ease; /* Animation de transition */
}

.button:hover {
    background-color: #45a049; /* Couleur de fond quand on passe la souris */
}

.mission img, .about img, .Industry img, .Intellec img, .Impactful img{
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Si tu veux garder un style arrondi */
    margin: 20px 0; /* Espacement autour de l'image */
}

.login-page-body {
    background-color: #3d3b3b; /* Fond neutre */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('image/bg/forest.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    padding-top: 100px;
    flex-direction: column;
    justify-content: space-around;
}

.login-container {
    background-color: rgba(0, 0, 0, 0.7); /* Couleur de fond sombre et transparente */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    color: white;
    text-align: center;
}

.login-container h1 {
    margin-bottom: 20px;
    font-size: 1.8em;
}

.login-container label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc75;
    border-radius: 5px;
    font-size: 1em;
}

.login-container button {
    margin-right: 25px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    background: rgba(34, 34, 34, 0);
    position: relative;
    transition: all 0.3s ease;
    overflow: hidden;
    box-shadow: 0px 0px 0px 0px #c9dabf67, 0px 0px 0px 0px #808d7c7c;
}

.login-container button:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0px #c9dabf6c, -10px 10px 25px 0px #5f6f6580;
    background-color: rgba(34, 34, 34, 0.212);
}

.login-container a {
    color: #ddd;
    text-decoration: none;
    font-size: 0.9em;
}

.login-container a:hover {
    color: #ffffff;
}

.dashboardBackground {
    background-image: url('image/bg/black.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.wrebackground {
    background-image: url('image/bg/nature.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.articlesbackground {
    background-image: url('image/bg/blue.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.post-actions {
    margin: 2%;
}

.post-actions a {
    margin-left: 1%;
    margin-right: 1%;
}


.ql-align-right {
    text-align: right;
}

.ql-align-center {
    text-align: center;
}

.ql-align-justify {
    text-align: justify;
}

.ql-align-left {
    text-align: left;
}

.date-article{
    text-align: center;
    margin-top: 5%;
}