
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: MainFont;
}

@font-face {
    font-family: MainFont;
    src: url(Rubik.ttf);
}

.lien :hover  {
    color: #141414c9;
    }

body {
    margin: 0;
    background-color: #000000;
    color: black;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d3cec7;
    padding: 10px 20px;
}

main {
    display: flex;
    flex-direction: column; /* Alignement vertical des blocs */
    justify-content: flex-start; /* Aligne les blocs en haut */
    align-items: center; 
    height: auto; /* Ajuste la hauteur au contenu */
    text-align: center;
    background-color: #eeedeb;
    padding-bottom: 70px; /* Espace pour le footer */
}

.MainPic {
    width: 500px; /* réduit la largeur du logo à 100px */
    height: 200px; /* réduit la hauteur du logo à 50px */
    margin: 0 auto; /* centre le logo */
    margin-top: 5%;
    display: block; /* permet de centrer le logo */
    border-radius: 10px; /* ajout de la propriété border-radius */
  }


.container{
    width: 100%;
    height: 100vh;
    background-color: #0000002f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    text-align: center;
    overflow: hidden;
    padding-bottom: 70px;
    max-width: 80vw;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
}

.content h2{
    padding-bottom: 2%;
    font-size: 35px;
    line-height: 200%;
    color: #F4F4EA;
    margin-top: 50px;
    margin-inline: 5%;
    margin-bottom: 40px;
}

/* Style du bouton "Join the Movement" */
.content a {
    font-size: 23px;
    color: #fff;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 30px;
    border: 0;
    background: rgba(34, 34, 34, 0.295);
    position: relative;
    transition: all 0.3s ease;
    overflow: hidden;
    box-shadow: 0px 0px 0px 0px #C9DABF, 0px 0px 0px 0px #808D7C;
}

/* Animation d'ombre et translation lors du hover */
.content a:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0px #C9DABF, -10px 10px 25px 0px #5F6F65;
    background-color: rgba(34, 34, 34, 0.212);
}


.content a:hover::before, .content a:hover::after {
    transform: translateX(0) translateY(0);
}

.background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}


@media (min-aspect-ratio:16/9) {
    .background-clip{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .background-clip{
        width: auto;
        height: 100%;
    }
}

footer {
  background-color: #f4f4ea; /* couleur de fond du footer */
  padding: 20px; /* espace entre le contenu et le bord du footer */
  text-align: center; /* alignement du texte au centre */
  clear: both; /* pour s'assurer que le footer est placé en bas de la page */
}

footer p {
  margin-bottom: 10px; /* espace entre les éléments du footer */
}

footer a {
  color: #080808; /* couleur du lien */
  text-decoration: none; /* suppression de la décoration du lien */
}

footer a:hover {
  color: #23527c; /* couleur du lien au survol */
}

.active {
    text-decoration: underline;
    color: #867b68de; /* ou une couleur différente pour le lien actif */

}

.nav-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transition: transform 0.3s ease; /* Ajoute une transition pour le mouvement */
}

.nav-header .header-link {
    margin-right: 25px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 25px;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 10px;
    border: 0;
    background: rgba(34, 34, 34, 0);
    position: relative;
    transition: all 0.3s ease;
    overflow: hidden;
    box-shadow: 0px 0px 0px 0px #c9dabf67, 0px 0px 0px 0px #808d7c7c;
}

.nav-header .header-link:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0px #c9dabf6c, -10px 10px 25px 0px #5f6f6580;
    background-color: rgba(34, 34, 34, 0.212);
}

.nav-header .header-link:hover::before, .nav-header .header-link:hover::after {
    transform: translateX(0) translateY(0);
}

.icon {
    width: 70px; /* adjust the size to your liking */
    height: 70px;
    margin-top: 10px;
    margin-right: 100px; /* add some space between the icon and the links */
    margin-left: 30px;
    animation: rotation 10s infinite linear; /* Animation continue */
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.static-background {
    background-image: url('image/bg/cold-1866516.jpg'); /* Remplacer par ton image de fond */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    padding-top: 100px; /* Pour éviter que le contenu chevauche le nav */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Blocs de texte avec fond semi-transparent */
.text-block {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    text-align: center;
    color: #fff;
}

.text-block h2 {
    margin-bottom: 10px;
    font-size: 2em;
}

.text-block p {
    font-size: 1.2em;
}

/* Positionnement des blocs */
.mission {
    margin-top: 5%;
    align-self: flex-start; /* Place à gauche */
    margin-left: 5%; /* Ajouter un peu d'espace à gauche */
}

.about {
    margin-top: 5%;
    align-self: flex-end; /* Place à droite */
    margin-right: 5%; /* Ajouter un peu d'espace à droite */
}

.what-it-means {
    margin-top: 5%;
    align-self: flex-start; /* Place à gauche */
    margin-left: 5%; /* Ajouter un peu d'espace à gauche */
    margin-bottom: 5%;
}
